{% extends 'bandsite/base.html' %}

{% block content %}
<p class="page">About Us</p>

<p><strong>Jacob</strong> is singer and songwriter, with the background in musical theater performance contributes his

perfect sense of rhythm as a comp guitar player and his deep low baritone as a lead singer. He also helps

coaching other singers, sharing his experience in voice performance.</p>

<p><strong>Stan’s</strong> rich sound of alto saxophone and improvisational creativity creates an atmosphere of old time

jazz club and melts hearts. He plays equally well mellow style of Stan Getz and aggressive riffs of Michael

Brecker.</p>

<p><strong>Jane</strong> is a master of many instruments – bass, clarinet, ukulele, etc., schooled in various jazz combos,

marching band and reed ensembles during her years in high school. Her charming contralto nicely

accentuate old jazz standards, as well as more contemporary songs.</p>

<p><strong>Michael</strong> is also high school bands veteran, well versed in all kinds of percussion instruments, as well as

classical piano. We all enjoy playing to his grooves on ride and snare, as well as his hand percussions.</p>

<p><strong>Alex</strong> plays lead guitar and helps Jacob on comp. He is also a songs digger and schedule keeper.</p>

<p><strong>Ian</strong> is our newest acquired member. The bright sound of his trumpet fills the room with life energy and

drive. His confident improvisations are both engaging and empowering. We also utilize his piano skills on

32 keys melodica.</p>

<p><strong>Val</strong>, the sound master, is reliable and creative. He is real heavy lifter, both figuratively and literally.

Takes all the complaints, fits with grace and dignity, and addresses them immediately.</p>

<p><strong>Maria</strong> is our agent and apprentice singer. She occasionally appears as solo and background vocalist.</p>
    {% endblock %}