{% extends 'bandsite/base.html' %}

{% block content %}
<p class="page">Home</p>
<div id="sky">
    <img src="images/photo1.png" alt="skyscraper" />
</div>
<p>Accent Deluxe is independent self-sponsored amateur light jazz band, playing various venues in Twin

Cities area. Our music equally fits dining settings, bars, dance parties, as well as outdoor performances.

The band started as acoustic guitar trio, which performed for two summers under “South Suburban

Patio Band” name, and grew into larger group at the beginning of the year 2017. Inclusion of dynamic

horns duo and full drum set allowed us to add more color and substance, increase the presence and

sharpen the beat. We also added various vocal pieces to our previously mostly instrumental sets.

Our repertoire includes popular standards, as well as hidden layer of masterpieces written by various

artists, that for one reason or another did not make their way into a mainstream. This is in styles and

beats of vintage swing, Latino clave, gypsy jazz, Brazilian bossa and choro, rumba and more. Overall, to

paraphrase Japanese writer Haruki Murakami, we play a nice music that makes people feel good.

The band debuted on May 15, 2017 at Excelsior Brewing Co., featured at private charity event by Standpoint.
</p>
<div class="valid">
<!-- html validation logo code starts here -->
<!-- css validation logo code ends here -->
</div>
{% endblock %}